.container-fluid {
    margin-left: 20px;
    margin-right: 20px;

}

* {
    font-family: montserrat;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.carousel-caption h4 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    position: relative;
    bottom: 275px;

}


.carousel-caption p {
    width: 70%;
    margin: auto;
    font-size: 30px;
    line-height: 1.9;
    position: relative;
    bottom: 275px;
}